.form-atualizar .row > label:first-child {
    display: block;
    margin-bottom: 10px;
}

.form-atualizar .row {
    margin-bottom: 20px;
}

.radio_group label {
    margin: 10px;
}

.form-atualizar div.buttons {
    display: flex;
}

.form-atualizar div.buttons button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}