aside .logo{
    background-color: white;
    display: flex;
    justify-content: center; /*A propriedade justify-content é empregada para alinhar os elementos ao longo do eixo principal,*/
    align-items: center; /*A propriedade align-items irá alinhar os elementos no eixo transversal.*/
    height: 100%;
}

aside .logo img {
    width: 100%;
}
