aside.menu-area {
    background-color: var(--background-dark);
}

nav.menu {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

nav a {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.menu .link-always-on {
    color: white;
}

.menu .link-always-on:hover {
    background: linear-gradient(135deg, #07a7e3, #32dac3 100%);
}

.menu .indirect-link {
    text-decoration: none;
    color: gray;
}